.MainWrapper {
    width: 100%;
    background-color: white;
    border-radius: 6px;

    padding: 16px;
    box-sizing: border-box;
}

.PlayerSection {
    width: 70%;
    min-height: 70vh;
    display: inline-block;
    padding: 16px;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    vertical-align: top;
}

.Playlist {
    width: 29%;
    min-height: 70vh;
    display: inline-block;
    padding: 16px;
    box-sizing: border-box;
    vertical-align: top;
}

.PlayerWrapper {
    width: 100%;
    height: 100%;
}

.VideoPlayer {
    width: 100%;
    height: 380px;
}

.VideoStats {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 18px;
    border-bottom: 1px solid #ccc;
    margin-top: 16px;
}

.ViewCount {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
}

.VideoStats i {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
    margin-right: 20px;
    cursor: pointer;
}

.VideoTitle {
    font-size: 36px;
}

.VideoDescription {
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.7);
}